{% extends "templateR.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


    <!-- ================ PRESTADOR ================= -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Bienvenido</h2>  
            </div>


        </div>
        <br>
        <p>&copy; 2023 - TIC'S - HOSPITAL VOZANDES QUITO HVQ S.A</p>
    </div>

{% endblock %}


