<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='content/css/forms/homeR.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='content/img/logo_hvq.png')}}" />
    <title>RECERTIFICACION MEDICA</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
</head>
<body>
<div class="principal">
    
    <!-- =============== Navigation ================ -->
    <div class="container2">
        <div class="navigation2">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="https://i.ibb.co/12xH3dT/image.png" alt="Recertificación" style="height: 50%; width: 50%;" >
                        </span>
                        <span class="title">Recertificación</span>
                    </a>
                    <a href="#">
                        <span class="icon">
                            <img src="data:image/png;base64,{{session["foto"]}}" style="height: 50%; width: 50%; border-radius: 50%">
                        </span>
                        <span class="title" style="font-size:11px">{{session["name"]}}</span>
                    </a>
                </li>
                {%if session["rol"] == 'Admin'%}
                    <li>
                        <a href="/homeR">
                            <span class="icon" title="Perfil">
                                <ion-icon name="person-outline" title="Perfil"></ion-icon>
                            </span>
                            <span class="title">Perfil</span>
                        </a>
                    </li>

                    <li>
                        <a href="/medicosR">
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Médicos</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="school-outline"></ion-icon>
                            </span>
                            <span class="title">Calificaciones</span>
                        </a>
                    </li>

                {%elif session["rol"] == 'Medico'%}
                    <li>
                        <a href="/homeM">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="title">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a href="/act_academica">
                            <span class="icon">
                                <ion-icon name="reader-outline"></ion-icon>
                            </span>
                            <span class="title">Actividad Académica</span>
                        </a>
                    </li>

                     <li>
                        <a href="/educacion_hvq">
                            <span class="icon">
                                <ion-icon name="library-outline"></ion-icon>
                            </span>
                            <span class="title">Educación en HVQ</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </span>
                            <span class="title">Participación en Cursos y congresos</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="ribbon-outline"></ion-icon>
                            </span>
                            <span class="title">Participación en Academia Bruckner</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="desktop-outline"></ion-icon>
                            </span>
                            <span class="title">Suscripción en bibliotecas virtuales</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            </span>
                            <span class="title">Otros</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="school-outline"></ion-icon>
                            </span>
                            <span class="title">Calificaciones</span>
                        </a>
                    </li>

                {%endif%}

                <li>
                    <a href="/conf_medico">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuraciones</span>
                    </a>
                </li>

            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
        <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div >
            <div class="user"></div>
                <p>
                    {{session["rol"]}}
                    /
                    <a href="/cerrarS">
                        <span class="title">Salir</span>
                    </a>
                </p>
        </div>
    </div>
            <br/>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

    <!-- =========== Scripts =========  -->
    <script src="{{url_for('static', filename='content/js/forms/homeR.js')}}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>

