{% extends "templateR.html" %}

{% block content %}
<style>
#main-card {
    max-width: 100%;
    box-shadow: -5px 2px 18px 4px #ccc;
}

.cover-photo {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROby7gMhjmO6FV8HGFeq9QbnNsAy75SxEgzw&usqp=CAU");
    width: 100%;
    height: 40%;
}

.photo {
    background: #f9f9f9;
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#fotito {
    position: relative;
    top: -50px;
    max-width: 60%;
    max-height: 60%;
    border-radius: 50%;
    box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
}
.content {
    background: #f9f9f9;
    width: 100%;
    height: 50%;
    position: relative;
    top: -9px;
}

.contact {
    background: #721940;
    width: 300px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h2.name,
h3,
a {
    margin: 0;
    text-align: center;
}

h2.name {
    padding-bottom: 10px;
}

h3.fullstack {
    padding-bottom: 10px;
}

a {
    color: #721940;
    text-decoration: none;
}

a:hover {
    color: black;
}


div#main-card:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
    @keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
</style>

    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Bienvenido</h2>
            </div>
	    <div class="card">

	  	<div class="container">
	    		<div id="main-card">
            <div class="cover-photo"></div>
            <div class="photo">
                <img id="fotito" src="data:image/png;base64,{{session["foto"]}}">
            </div>
            <div class="content" style="text-align: center">
                <p class="name">{{session["name"]}}</p>
                <p class="fullstack">{{session["cedula"]}}</p>
                <p class="fullstack">{{session["rol"]}}</p>
                <p class="email">
                    <a href="">{{session["mail"]}}</a>
                </p>

            </div>
        </div>
	  	</div>
	</div>

        </div>
        <br>
        <p style="text-align: center;">&copy; 2023 - TIC'S - HOSPITAL VOZANDES QUITO HVQ S.A</p>
    </div>

{% endblock %}


